/*Made by sen bc im cool and shiet*/
/*https://onee.ch/*/

/*The body*/
body {
    background: #eef2ff url(https://onee.ch/.static/fade-blue.png) top center repeat-x!important;
    color: #000;
    font-size: 11pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
	font-family: arial,helvetica,sans-serif;
}

/*main post card BG*/
.card {
    background-color: #d6daf0;
    border: 1px solid #b7c5d9;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
    box-shadow: 0px 0px #b7c5d900!important;
    border-color: #b7c5d9!important;
}
/*Date*/
#profile-preview .card-title h6, .card-title p {
    color: #000!important;
}
/*Text in posts*/
.card-text p, .open-sans {
    color: #000!important;
}
/*Links*/
a:visited {
    color: #34345c;
}
a {
    color: #34345c;
}
/*Commenter Names*/
.comment-body .preview-profile {
    color: #117743!important;
}
/*Date in comments*/
.search-icon, .search-input, .text-faded {
    color: #000!important;
}
/*Reply Icon in comments*/
.card-footer .solid-grey, .text-secondary {
    color: #A00!important;
}
/*Card footer???(basically background2: electric boogaloo*/
.card-footer {
    background-color: #d6daf0!important;
}
/*Expand commment button*/
#profile-preview .card-footer .text-purple, .card-footer .text-purple {
    color: #A00!important;
}
/*Comment text input*/
.message-container, .message-input {
    background: #ffffff!important;
}
/*Open post in new tab*/
.post-link {
    border-color: #4d4d84 #51518e transparent transparent;
    background: #34345c;
}
/*Top search bar*/
.form-control {
    background-color: #ffffff!important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
}
/*Search bar border*/
.search {
    border-bottom: 0px solid #bbb;
    width: 100%;
}
/*Search Icon in search bar*/
.search-icon {
    background-color: #ffffff!important;
}
/*FUCK ROUNDED CORNERS*/
.rounded {
    border-radius: 0rem!important;
}
/*Profile header*/
.profile-header {
    background-color: #d6daf0;
    border: 1px solid #b7c5d9;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
/*Select posting filtering box*/
select.form-control {
    color: #39ce5a!important;
    border-radius: 0px;
}
/*Profile settings dropdown*/
.dropdown-menu {
    background-color: #d6daf0;
    border: 1px solid #b7c5d9;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
.nav-profile-box-expand {
    -webkit-box-shadow: 0 2px 3px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)!important;
    box-shadow: 0 0 0px rgba(50,50,93,.11),0 0px 0px rgba(0,0,0,.08)!important;
}
/*Hovering over thing in dropdown*/
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #b7c5d9!important;
}
/*Notification badge*/
.badge {
    background: #81A2BE!important;
    color: #383838!important;
    box-shadow: 0 0 0em #e424c1;
}
.badge-danger {
    background: #568fbf;
    padding: .75em;
    border-radius: 0em;
}
/*Emoji popout*/
.emoji-button {
    background: #d6daf0;
    border: 0px solid #1a1a1a;
}
/*Removing the stupid bar on posts*/
.card-title {
    color: #34345c!important;
    background-image: url(46014d3c3677dd0f.css);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px!important;
    border-width: 0!important;
}
/*Username on profile*/
.profile-username {
    font-weight: 700;
    font-family: arial,helvetica,sans-serif;
}
/*Title text*/
h1, h4, h5 {
    color: maroon!important;
}
/*Profile name color*/
.nav-profile-box, .nav-profile-box .quicksand, h1, h3, h4, h5 {
    color: #117743!important;
}
/*Profile desc*/
.description, .profile-about h6, .profile-about span {
    color: #000!important;
}
/*Cards in dashboard*/
/* .card-body {
    flex: 1 1 auto;
    background-color: #d6daf0!important;
    border: 1px solid #b7c5d9!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-color: #b7c5d9!important;
    padding: 1.25rem;
} */
/*Card footer 2: electric boogaloo*/
/* .card-footer {
    background-color: #d6daf0!important;
    border: 1px solid #b7c5d9!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-color: #b7c5d9!important;
} */
/*The full post card. Apparently the code above was causing it to divide into the card footer and the main body of the card so just selecting everything seems to work.*/
.post-card {
    background-color: #d6daf0!important;
    border: 1px solid #b7c5d9!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-color: #b7c5d9!important;
}

/*Dashboard dropdown*/
.navbar-nav .dropdown-menu {
    background-color: #d6daf0!important;
    border: 1px solid #b7c5d9!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
	color: #000!important;
}
.dropdown-menu {
    background-color: #d6daf0!important;
    border: 1px solid #b7c5d9!important;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
/*Text in dropdown*/
.open-sans, .ql-editor.ql-blank:before, .quicksand, .roboto, .sidebar-text, .work-sans, h4, label, ol, p, span, ul {
    color: #000!important;
}
/*Weird black bars in post cards*/
.bg-white, .card {
    background-color: #35363800!important;
}
/*Icons in dropdown*/
.fa {
    color: #000000;
}
/*New post button*/
.btn-outline-grey {
    color: #000000!important;
}
/*New post/edit buttons*/
.btn-outline-grey, .btn-outline-grey:hover {
    color: #5c6881;
    border-color: #becdd900;
    border-radius: 0px;
    background: #d0d0d0;
    position: relative;
    margin-left: -1em;
    padding-right: 1em;
}
/*NSFW alert*/
.alert-error {
    background: #b7c5d9;
	padding: 10px 20px;
    border: 1px solid #3751ff;
    border-radius: 0px;
    color: #3751ff;
}
/*The sidebar. Pretty self explanitory*/
.sidebar {
    background-color: #d6daf0!important;
    border: 0px solid #b7c5d9!important;
    border-radius: 0!important;
}
/*The logo*/
.logo {
    color: #6180b9!important;
    background-image: none;
}
/*Buttons in messages tab*/
.btn-faded {
    background: #00000026;
    color: hsla(0,0%,78.4%,.5)!important;
    border-radius: 0px;
}
/*Emoji popout in dashboard*/
.bg-white, .card {
    background-color: #d6daf0!important;
    border: 1px solid #b7c5d9;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
/*Dropdown items in hamburger menu on posts*/
.dropdown-item, .dropdown-item:active, a.dropdown-item:hover {
    color: #000!important;
}
/*New post*/
.post-title {
    border-radius: 0px;
}
/*Text in posting form for new posts*/
.form-control {
    background-color: #ffffff!important;
    border-color: #00000000!important;
    color: #000000!important;
}
/*Color doesnt change on hover on post button*/
.btn-outline-grey:hover {
    color: #000000!important;
}
/*Buttons not round*/
.btn:not(:disabled):not(.disabled) {
    border-radius: 0px;
}
/*newest, Popular, and Folders tabs hover*/
.tabs a:hover {
    border-bottom-color: #949494;
    color: #000000;
}
/*Change the focused color from grey to black*/
.form-control:focus {
    color: #000000!important;
}
/*Live comment typing color is no longer grey*/
.live-chat-input, .message-input {
    color: #000000!important;
}
/*Tiblar boost info BG*/
.bg-light {
    background-color: #b7c5d9!important;
}
/*Disable glow for shit in sidebar*/
.sidebar-icon {
    text-shadow: 0 0 0.5em #e424c100;
}