/*Made by sen bc im cool and shiet*/
/*https://onee.ch/*/

/*The body*/
body {
    color: #ACACAC!important;
    background: #1D1F21!important;
    font-size: 11pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
	font-family: arial,helvetica,sans-serif;
}

/*main post card BG*/
.card {
    background-color: #282A2E;
    border: 1px solid #353535;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
    box-shadow: 0px 0px #35353500!important;
    border-color: #353535!important;
}
/*Date*/
#profile-preview .card-title h6, .card-title p {
    color: #ACACAC!important;
}
/*Text in posts*/
.card-text p, .open-sans {
    color: #ACACAC!important;
}
/*Links*/
a:visisted {
    color: #81A2BE;
    text-decoration: none;
}
a {
  color: #81A2BE;
  text-decoration: none;
}
/*Commenter Names*/
.comment-body .preview-profile {
    color: #117743!important;
}
/*Date in comments*/
.search-icon, .search-input, .text-faded {
    color: #ACACAC!important;
}
/*Reply Icon in comments*/
.card-footer .solid-grey, .text-secondary {
    color: #81A2BE!important;
}
/*Card footer???(basically background2: electric boogaloo*/
.card-footer {
    background-color: #282A2E!important;
}
/*Expand commment button*/
#profile-preview .card-footer .text-purple, .card-footer .text-purple {
    color: #81A2BE!important;
}
/*Comment text input*/
.message-container, .message-input {
    background: #131313!important;
}
/*Open post in new tab*/
.post-link {
    border-color: #4d6084 #515f8e transparent transparent;
    background: #34425c;
}
/*Top search bar*/
.form-control {
    background-color: #131313!important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
}
/*Search bar border*/
.search {
    border-bottom: 0px solid #bbb;
    width: 100%;
}
/*Search Icon in search bar*/
.search-icon {
    background-color: #131313!important;
}
/*FUCK ROUNDED CORNERS*/
.rounded {
    border-radius: 0rem!important;
}
/*Profile header*/
.profile-header {
    background-color: #282A2E;
    border: 1px solid #353535;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
/*Select posting filtering box*/
select.form-control {
    color: #39ce5a!important;
    border-radius: 0px;
}
/*Profile settings dropdown*/
.dropdown-menu {
    background-color: #282A2E;
    border: 1px solid #353535;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
.nav-profile-box-expand {
    -webkit-box-shadow: 0 2px 3px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)!important;
    box-shadow: 0 0 0px rgba(50,50,93,.11),0 0px 0px rgba(0,0,0,.08)!important;
}
/*Hovering over thing in dropdown*/
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #353535!important;
}
/*Notification badge*/
.badge {
    background: #81A2BE!important;
    color: #383838!important;
    box-shadow: 0 0 0em #e424c1;
}
.badge-danger {
    background: #81A2BE!important;
    padding: .75em;
    border-radius: 0em;
}
/*Emoji popout*/
.emoji-button {
    background: #282A2E;
    border: 0px solid #1a1a1a;
}
/*Removing the stupid bar on posts*/
.card-title {
    color: #5c3434!important;
    background-image: url(46014d3c3677dd0f.css);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px!important;
    border-width: 0!important;
}
/*Username on profile*/
.profile-username {
    font-weight: 700;
    font-family: arial,helvetica,sans-serif;
}
/*Title text*/
h1, h4, h5 {
    color: #ACACAC!important;
}
/*Profile name color*/
.nav-profile-box, .nav-profile-box .quicksand, h1, h3, h4, h5 {
    color: #117743!important;
}
/*Profile desc*/
.description, .profile-about h6, .profile-about span {
    color: #ACACAC!important;
}
/*Cards in dashboard*/
/* .card-body {
    flex: 1 1 auto;
    background-color: #282A2E!important;
    border: 1px solid #353535!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-color: #353535!important;
    padding: 1.25rem;
} */
/*Card footer 2: electric boogaloo*/
/* .card-footer {
    background-color: #282A2E!important;
    border: 1px solid #353535!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-color: #353535!important;
} */
/*The full post card. Apparently the code above was causing it to divide into the card footer and the main body of the card so just selecting everything seems to work.*/
.post-card {
    background-color: #282A2E!important;
    border: 1px solid #353535!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-color: #353535!important;
}

/*Dashboard dropdown*/
.navbar-nav .dropdown-menu {
    background-color: #282A2E!important;
    border: 1px solid #353535!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
	color: #ACACAC!important;
}
.dropdown-menu {
    background-color: #282A2E!important;
    border: 1px solid #353535!important;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
/*Text in dropdown*/
.open-sans, .ql-editor.ql-blank:before, .quicksand, .roboto, .sidebar-text, .work-sans, h4, label, ol, p, span, ul {
    color: #ACACAC!important;
}
/*Weird black bars in post cards*/
.bg-white, .card {
    background-color: #35363800!important;
}
/*Icons in dropdown*/
.fa {
    color: #ACACAC;
}
/*New post button*/
.btn-outline-grey {
    color: #ACACAC!important;
}
/*New post/edit buttons*/
.btn-outline-grey, .btn-outline-grey:hover {
    color: #5c6881;
    border-color: #becdd900;
    border-radius: 0px;
    background: #d0d0d0;
    position: relative;
    margin-left: -1em;
    padding-right: 1em;
}
/*NSFW alert*/
.alert-error {
    background: #353535;
	padding: 10px 20px;
    border: 1px solid #ff3737;
    border-radius: 0px;
    color: #3751ff;
}
/*The sidebar. Pretty self explanitory*/
.sidebar {
    background-color: #282A2E!important;
    border: 0px solid #353535!important;
    border-radius: 0!important;
}
/*The logo*/
.logo {
    color: #81A2BE!important;
    background-image: none;
}
/*Buttons in messages tab*/
.btn-faded {
    background: #d0d0d0;
    color: hsl(0, 0%, 0%)!important;
    border-radius: 0px;
}
/*Emoji popout in dashboard*/
.bg-white, .card {
    background-color: #282A2E!important;
    border: 1px solid #353535;
    border-radius: 0!important;
    border-top: none;
    border-left: none;
}
/*Dropdown items in hamburger menu on posts*/
.dropdown-item, .dropdown-item:active, a.dropdown-item:hover {
    color: #ACACAC!important;
}
/*New post*/
.post-title {
    border-radius: 0px;
}
/*Text in posting form for new posts*/
.form-control {
    background-color: #131313!important;
    border-color: #353535!important;
    color: #ACACAC!important;
}
/*Color doesnt change on hover on post button*/
.btn-outline-grey:hover {
    color: #ACACAC!important;
}
/*Buttons not round*/
.btn:not(:disabled):not(.disabled) {
    border-radius: 0px;
}
/*newest, Popular, and Folders tabs hover*/
.tabs a:hover {
    border-bottom-color: #949494;
    color: #ACACAC;
}
/*Change the focused color from grey to black*/
.form-control:focus {
    color: #ACACAC!important;
}
/*Live comment typing color is no longer grey*/
.live-chat-input, .message-input {
    color: #ACACAC!important;
}
/*Tiblar boost info BG*/
.bg-light {
    background-color: #353535!important;
}
/*Disable glow for shit in sidebar*/
.sidebar-icon {
    text-shadow: 0 0 0.5em #e424c100;
}
/*Hover over name in DMS*/
.dm-thread:hover {
    background: #353535!important;
}
/*chat*/
.dm-input {
    background: #131313!important;
}
/*DM background*/
.dm-messages {
    background: #282A2E!important;
    color: #ACACAC!important;
}
/*Actual boxes with text in them*/
.dm-text {
    background-color: #353535!important;
    border-radius: 0!important;
    color: #ACACAC!important;
}
/*container with the input field because for some reason it needs to exist*/
.dm-input-container {
    background: #35363800;
}
/*Text input field*/
.dm-textarea {
    background: #131313!important;
    color: #ACACAC!important;
    border-radius: 0px!important;
}
/*The profile preview page*/
#profile-preview {
    background-color: #282A2E!important;
    border: 0px solid #353535;
}
/*The little glowing active thing in the sidebar*/
.sidebar-active {
    border-color: #6193d8;
}
/*Weird thing behind the text input field in DMs*/
.dm-input-container {
    background: #35363800!important;
}
/*Selected shit in dropdown menus*/
select.form-control {
    color: #ACACAC!important;
    border-radius: 0px;
}
/*Active tab*/
.tabs li.is-active a {
    color: #ACACAC!important;
    border-bottom-color: #ACACAC!important;
}
/*reblog popup*/
.modal-content {
    background-color: #282A2E!important;
    border: 1px solid #353535!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
}
/*Custom file label in folder*/
.custom-file-label, .custom-file-label:after {
    background-color: #353535!important;
    color: #ACACAC!important;
    border-radius: 0!important;
}
/*Button*/
.btn-connect {
    color: #ACACAC!important;
    border-color: #becdd900!important;
    border-radius: 0px!important;
    background: #d0d0d0!important;
    position: relative!important;
    margin-left: -1em!important;
    padding-right: 1em!important;
}
/*auth box on login page*/
.auth-box {
    box-shadow: 10px 10px 5px #ACACAC!important;
}
/*Round buttons are stupid*/
.filter-pill.active {
    background: rgba(100,100,110,.4)!important;
    border-radius: 0px!important;
    color: #ACACAC!important;
    border: 1px solid #ACACAC!important;
}
/*Graph X and Y axis labels*/
.apexcharts-xaxis-label, .apexcharts-yaxis-label {
    fill: #ACACAC!important;
}
/*Tables actually visible*/
.table td, .table th {
    border-top: 1px solid #ACACAC!important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ACACAC!important;
}